* {
  box-sizing: border-box;
}
body {
  background-image: url(Images/Image4.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.links {
  display: flex;
  margin-right: 20px;
}
a {
  padding: 0 20px 0 20px;
  font-size: 20px;
}
i {
  font-size: x-large;
  color: rgb(57, 169, 238);
}
.main {
  position: relative;
  min-width: 50vw;
  min-height: max-content;
}
.l2c {
  position: absolute;
  left: 125px;
  top: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
}
.m100 {
  position: absolute;
  right: 440px;
  top: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
}
.procr {
  position: absolute;
  right: 380px;
  top: 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
}
.codingguy {
  position: absolute;
  right: 150px;
  top: 120px;
}
.getstart {
  position: absolute;
  left: 200px;
  top: 400px;
  font-size: xx-large;
  padding: 10px 120px 10px 120px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #fff;
  color: rgb(16, 116, 255);
  border-radius: 20px;
}
.getstart:hover {
  background-color: #fff;
  color: rgb(16, 116, 255);
}
.learnmore {
  position: absolute;
  left: 200px;
  top: 500px;
  font-size: xx-large;
  padding: 10px 120px 10px 130px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  border-color: #fff;
}
.learnmore:hover {
  background-color: transparent;
  color: #fff;
}
